.first_section {
    display: flex;
    align-items: center;
    width: 65%;
    flex-direction: column;
    padding: 40px;

    .fil {
        width: 90%;
        margin-bottom: 40px;
    }

    .first_section_content {
        display: flex;
        flex-direction: column;
        padding: 100px;
        width: 70%;
        height: 90vh;
        background-color: #fff;

        h1 {
            font-size: 40px;
            margin-bottom: 40px;
        }

        p {
            margin-bottom: 50px;
        }
    }
}
