nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 60px;
  background-color: #1E90FF;

  .logo {
    height: auto;
    width: 40px;
    margin-top: 20px;
  }

  .nav_button {
    display: flex;
    flex-direction: column;
    align-items: center;


    .nav_logo_icon {
      height: auto;
      width: 30px;
    }
  }

  .profile {
    height: auto;

    img {
      border-radius: 50%;
      height: 40px;
      width: 40px;
    }
  }


}
